/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap");

/* Base */

@import url('./base/base.css');
@import url('./base/reset.css');

/* Blocks */

@import url('./blocks/header.css');
@import url('./blocks/hero.css');
@import url('./blocks/reasons.css');
@import url('./blocks/footer.css');

