.footer {
    width: 100%;
    height: 200px;
    background-image: url('./../../imgs/bg-video.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border-top: 6px solid #bb00ac;
    box-shadow: 0 -2px 20px #bb00ac;

    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 -2px 15px #bb00ac;
    }
    50% {
        box-shadow: 0 -2px 25px #bb00ac;
    }
    100% {
        box-shadow: 0 -2px 15px #bb00ac;
    }
}
.footer-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.681);
    height: 100%;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-title {
    font-family: "Archivo", sans-serif;
    font-size: 42px;
    color: #ffff;
    margin-bottom: 20px;
}
.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.footer-item {
    font-family: "Archivo", sans-serif;
    font-size: 22px;
    color: #ffff;
}
.video-link {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .footer-container {
        padding: 20px 40px;
        flex-direction: column;
        gap: 20px;
    }
    .footer-title {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .footer-container {
        padding: 20px 20px;
    }
    .footer-title {
        font-size: 24px;
    }
}