.section-hero {
  width: 100%;
  height: 100vh;

  background: url(./../../imgs/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.section-hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.637);
  padding: 60px 40px;
}
.section-hero-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.405);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.section-hero-item {
  font-family: "Archivo", sans-serif;
  color: #ffff;
  font-size: 32px;
  width: 700px;
}

.section-hero-img {
  width: 400px;
  height: 400px;
  rotate: 20deg;
}

@media (max-width: 1200px) {
  .section-hero-item {
    font-size: 26px;
    width: 500px;
  }
  .section-hero-img {
    width: 350px;
    height: 350px;
    rotate: 20deg;
  }
}

@media (max-width: 1000px) {
  .section-hero-container {
    padding: 45px 40px;
  }
  .section-hero-item {
    font-size: 22px;
    width: 400px;
  }
  .section-hero-img {
    width: 350px;
    height: 350px;
    rotate: 20deg;
  }
}

@media (max-width: 900px) {
  .section-hero-container {
    padding: 30px 40px;
  }
  .section-hero-item {
    font-size: 18px;
    width: 300px;
  }
  .section-hero-img {
    width: 300px;
    height: 300px;
    rotate: 20deg;
  }
}

@media (max-width: 768px) {
  .section-hero {
    height: auto;
  }
  .section-hero-container {
    padding: 20px;
    height: auto;
    padding-top: 200px;
  }
  .section-hero-item {
    font-size: 18px;
    width: 300px;
    text-align: center;
  }
  .section-hero-img {
    width: 100px;
    height: 100px;
    rotate: 20deg;
  }
}

@media (max-width: 480px) {
    .section-hero-item {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
    .section-hero-img {
        width: 80px;
        height: 80px;
        rotate: 20deg;
    }
}